<div class="card-header bg-info">
  <h4 class="m-b-0 text-white">Configuración de Roles</h4>
</div>
<div class="card-body">
  <form  class="form-horizontal">
    <div class="form-body">
    </div>

    <h3 class="box-title">Configuración</h3>
    <hr class="m-t-0 m-b-40">

     <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-right col-md-3">Rol</label>
            <div class="col-md-9">
              <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                <option value="Category 1">Pasajero</option>
                <option value="Category 2">Piloto</option>
                <option value="Category 3">Asistente</option>
                <option value="Category 4">Administrador</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    <hr>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-inverse">Cancelar</button>
            </div>
          </div>
        </div>
        <div class="col-md-6"> </div>
      </div>
    </div>
  </form>
</div>
