<div class="container-fluid">
  <div class="row header mb-2 text-center">
    <div class="col-sm-4 align-middle">
      <span id="requestName"> Nombre </span>
    </div>
    <div class="col-sm-4 align-middle">
      <span id="requestaMail align-middle">
        Correo
      </span>
    </div>
    <div class="col-sm-4 align-middle">
      Avatar
    </div>
  </div>

  <div class="row mt-2 sombra" *ngFor="let user of users">
    <div class="col-sm-4 text-center">
      {{ user.name }}
    </div>
    <div class="col-sm-4 text-center">
      {{ user.email }}
    </div>
    <div class="col-sm-4 text-center">
      <img src="{{ user.avatar }}" width="20%" class=" img-thumbnail img-rounded img-circle " alt="avatar">
    </div>
  </div>
</div>
