<div class="card-header bg-info">
  <h4 class="m-b-0 text-white"><span class="mdi mdi-airplane-takeoff"></span> Alquiler de Aeronaves</h4>
</div>
<div class="card-body">
  <form  class="form-horizontal">
    <div class="form-body">
    </div>

    <div class="row mb-2">
      <div class="col-sm-2 py-4 text-center"  id="cornerl">
        <span>Ubicacion </span>
        <div> <input class="text-center txt" type="text" placeholder="Adonde vas?"> </div>
      </div>
      <div class=" col-sm-2  py-4 text-center" id="CentroL">
        <span>Llegada</span>
        <div><input class="text-center txt" type="date" placeholder="Agrega Fecha"></div>
      </div>
      <div class="col-sm-2   py-4 text-center "  id="CentroR">
        <span>Salida</span>
        <div><input class="text-center txt" type="date" placeholder="Agrega Fecha"></div>
      </div>
      <div class="col-sm-2  py-4  text-center" id="CentroR">
        <span>Pasajeros</span>
        <div><input class="text-center txt" type="number" placeholder="Agrega pasajeros"></div>

      </div>
      <div class="col-sm-1  py-4" id="cornerR">
        <button type="button" id="zoomButton" class=" btn-warning button-big rounded-circle " > <span class="mdi mdi-magnify"></span> </button>
      </div>

    </div>

    <div class="form-actions">
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-inverse">Cancelar</button>
            </div>
          </div>
        </div>
        <div class="col-md-6"> </div>
      </div>
    </div>
  </form>
</div>

<!-- <div class="p-grid  p-p-4 p-align-center p-justify-center">
  <div class="p-col-12 p-md-2  p-shadow-2 text-center"  id="cornerl">
    <span>NOMBRE USUARIO</span>
    <div>Usuario no 1</div>
  </div>
  <div class=" p-col-12 p-md-2  p-shadow-2 text-center" id="CentroL">
    <span>TOTAL VENTAS DIARIAS</span>
    <div>$400.000</div>
  </div>
  <div class="p-col-12 p-md-2  p-shadow-2 text-center "  id="CentroR">
    <span>TOTAL BOLETA</span>
    <div>$1400.000</div>
  </div>
  <div class="p-col-12 p-md-2  p-shadow-2 text-center" id="cornerR">
    <span>SALDO DISPONIBLE</span>
    <div>$200.000</div>
  </div>
</div> -->
